* {
  box-sizing: border-box;
  font-family: Georgia, Times;
  margin: 0;
  padding: 0;
}
body {
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_98214257_2000131420009280386_137581.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;
  text-align: center;
  background-size: cover; 
  padding: 0;
margin-bottom: 50%;
}
header h1{
  color:#FFC48A;
  font-family: 'Oswald', sans-serif;
}
li {
  font-family: Georgia, Times;
  display:inline-flex;
  padding-right: 50px;
  font-size: 25px;
}
nav li a{
  text-decoration: none;
  color: #FFC48A;
  font-family: 'courgette', cursive;
}
nav li a:hover{
  background-color: black;
}

h1{
  font-size: 30px;
}
#topheader nav{ 
display: flex;
align-items: center;
justify-content: space-around;
height: 85px;
width: 100%;
position: fixed;
background-color: #3B2215;

} 
#fish{
  float: left;
}
#familyphoto{
  margin: auto;
  padding-top: 70px;
}
#locationlist {
  
  display: inline-flex;
  font-family: sans-serif;
 margin-top: 20px;
 margin-left: 50px;
  
}
#locationlist a{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  font-size: 40px;
  color:#FFC48A;
  text-align: center;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: aqua;
}
#cookies{
  margin-top:50px;
}
section{
  height: 350px;
  width: 300px;
  border: solid 1px white;
  overflow: scroll;
  float: left;
}
section p{
  font-size: large;
  color: #FFC48A;
}

#contact{
  margin-top: 250px;
  color: red;
  font-size: 30px;
}
div h4:hover{
color: pink;
font-size: 50px;
}
