* {
  box-sizing: border-box;
  font-family: Georgia, Times;
}
body {
  width: 100%;
  background-color: rgba(213, 184, 255);
  background-repeat: no-repeat;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 4px 4px 4px #aaa;
  margin: auto;
  text-align: center;
}
li {
  font-family: Georgia, Times;
}
